@tailwind base;
@tailwind components;
@tailwind utilities;



/* Base styles for navigation menu */
#navMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Styles for mobile menu */
@media (max-width: 640px) {
  #navMenu.show {
    display: flex;
   
  }
  
  #navMenu.hidden {
    display: none;
  }
}

/* Default display for larger screens */
@media (min-width: 641px) {
  #navMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
  }

  #navMenu a {
    padding: 0.5rem;
    text-align: center;
  }
}
